data
data/*
data/*/*
models
models/*
models/*/*
wandb
wandb/*
wandb/*/*
notebooks
notebooks/*
notebooks/*/*
pre_computed_assets
pre_computed_assets/*
pre_computed_assets/*/*
tmp
tmp/*
profiler
profiler/*
profiler_env/*
core
*.bin
*.gz
.git
.git/*
